.dock {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: var(--padding);
	background: var(--window-title);
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: var(--shadow);
}

.apps {
	display: flex;
	flex-direction: row;
	gap: var(--padding);
}
.app {
	background-color: rgba(255, 255, 255, var(--basic-opasity));
	border: none;
	border-radius: var(--radius);
	transition: var(--transition-duration);
	opacity: 0.6;
	padding: var(--padding-s);
}

.app:hover {
	background-color: rgba(255, 255, 255, var(--hover-opasity));
}

.app:active {
	background-color: rgba(255, 255, 255, var(--active-opasity));
}

.icon {
	height: 24px;
	width: 24px;
}
