.window {
	position: absolute;
	min-width: 100px;
	background: #fff;
	overflow: scroll;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
}

.title {
	background: var(--window-title);
	color: var(--text-color);
	display: flex;
	flex-direction: row;
	gap: var(--padding-l);
	justify-content: space-between;
	padding: var(--padding);
	cursor: move;
	user-select: none;
}

.closeButton {
	background-color: var(--danger-color);
	border-radius: var(--radius-s);
	border: none;
}
.content {
	padding: var(--padding-s);
	background: var(--window-background);
}
