@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
	--text-color: #bde8f5;
	--danger-color: rgb(185, 61, 61);
	--background: #0f2854;
	--window-title: #1c4d8d;
	--window-background: #4988c4;

	--padding-l: 20px;
	--padding: 12px;
	--padding-s: 8px;

	--radius: 16px;
	--radius-s: calc(var(--radius) - var(--padding));
	--shadow: 0 0 10px #000000;

	--basic-opasity: 0.15;
	--hover-opasity: 0.3;
	--active-opasity: 0.45;

	--transition-duration: 0.15s;

	--text-xs: 4px;
	--text-s: 8px;
	--text: 12px;
	--text-l: 16px;
}
* {
	color: var(--text-color);
	font-family: "Press Start 2P", system-ui;
	font-size: var(--text);
}
button {
	cursor: pointer;
}
